<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>

    <title>La Podrida</title>
</head>

<body>
<div class="container">
    <h1>La Podrida</h1>
</div>

<div class="container-sm p-3 my-3 border">
    <h2>players:</h2>
    <div class="row">
        <div class="col-3">
            <table class="table table-dark table-bordered">
                <tr th:each="user: ${users}">
                    <td th:text="${user.id}"></td>

                    <td th:text="${user.getFullName()}"
                        th:style="${user.getFullName().equals(torn.getFullName()) ? 'color: #fff':'color: #000'}"> </td>

                </tr>
            </table>
        </div>
        <div class="col-8">
            <h3>Cartes</h3>
        </div>
        <div class="col-1">
            <form class="form-signin" action="#" th:action="@{game}"  method="post">
                <button type="submit" class="btn btn-primary">Start</button>
            </form>
        </div>
    </div>
</div>

</body>

</html>